<div class="PageName">
    REPORTS / USERS WITH CHECKED-OUT BOOKS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/reports')"  class="btn btn-info">Borrowed Books</button>
			<button (click)="GoToPage('home/reports/bookslost')" class="btn btn-info">Lost Books</button>
			<button (click)="GoToPage('home/reports/userscheckedout')" class="btn btn-info">Users with Checked-out Items</button>
			<button (click)="GoToPage('home/reports/usersoverdue')" class="btn btn-info">Users with Overdue items</button>
			<button (click)="GoToPage('home/reports/booksnotreturned')" class="btn btn-info">Books not yet returned</button>
			<button (click)="GoToPage('home/reports/topusers')" class="btn btn-info">Top Users</button>
			<button (click)="GoToPage('home/reports/withfine')" class="btn btn-info">Users with Fine</button>
			<button (click)="GoToPage('home/reports/allusers')" class="btn btn-info">All Users</button>
		</div>
	</div>
</div>