<div class="PageName">
    REPORTS / ALL USERS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/reports')"  class="btn btn-info">Borrowed Books</button>
			<button (click)="GoToPage('home/reports/bookslost')" class="btn btn-info">Lost Books</button>
			<button (click)="GoToPage('home/reports/userscheckedout')" class="btn btn-info">Users with Checked-out Items</button>
			<button (click)="GoToPage('home/reports/usersoverdue')" class="btn btn-info">Users with Overdue items</button>
			<button (click)="GoToPage('home/reports/booksnotreturned')" class="btn btn-info">Books not yet returned</button>
			<button (click)="GoToPage('home/reports/topusers')" class="btn btn-info">Top Users</button>
			<button (click)="GoToPage('home/reports/withfine')" class="btn btn-info">Users with Fine</button>
			<button (click)="GoToPage('home/reports/allusers')" class="btn btn-info">All Users</button>
		</div>
	</div>

	<div class="row pt-3">
		<div class="col-lg-12">
			<button (click)="exportAsXLSX()" class="btn btn-primary btn-floating"><i class="fa fa-file-excel-o"></i></button>
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Member #</th>
			      <th scope="col">ID Number</th>
			      <th scope="col">Full Name</th>
			      <th scope="col">Gender</th> 
			      <th scope="col">Department</th>
			      <th scope="col">Contact Number</th>
			      <th scope="col">Email Address</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let Member of Members">
			      <th scope="row">{{Member.member_id}}</th>
			      <td>{{Member.id_number}}</td>
			      <td>{{Member.first_name}}  {{Member.last_name}}</td>
			      <td>{{Member.gender}}</td>
			      <td>{{Member.department_name}}</td>
			      <td>{{ Member.contact_no }}</td>
			      <td>{{ Member.email_address }}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>