<div class="PageName">
    BORROWED BOOKS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/books/borrowed/transactions')" class="btn btn-info">Transactions</button>
		</div>	
	</div>
	<div class="row pt-3">
		<div class="col-lg-12">
			<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterBorrowedBooks">
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Borrowed ID</th>
			      <th scope="col">Book ID</th>
			      <th scope="col">ID Number</th>
			      <th scope="col">Date Borrowed</th>
			      <th scope="col">Date to Return</th>
			      <th scope="col">Status</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let BorrowedBook of BorrowedBooks | filter:filterBorrowedBooks">
			      <th scope="row">{{ BorrowedBook.books_borrowed_id }}</th>
			      <td>{{ BorrowedBook.book_id }}</td>
			      <td>{{ BorrowedBook.id_number }}</td>
			      <td>{{ BorrowedBook.date_borrowed | date: 'mediumDate' }}</td>
			      <td>{{ BorrowedBook.date_to_return | date: 'mediumDate' }}</td>
			      <td>
			      <span *ngIf="(BorrowedBook.date_to_return | date: 'yyyy-MM-dd') > (DateNow | date: 'yyyy-MM-dd')">{{ BorrowedBook.status }}</span>
			      <span *ngIf="(BorrowedBook.date_to_return | date: 'yyyy-MM-dd') < (DateNow | date: 'yyyy-MM-dd')" class="text-danger">Overdue</span>
			  	  </td>
			      <td>
			      	<button [disabled]="BorrowedBook.status == 'Returned'" class="btn btn-sm btn-info" (click)="OpenModal(returnconfirmation, BorrowedBook.books_borrowed_id)">Return</button>
			      </td>

			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<!--Template for Returning a book-->
<ng-template #returnconfirmation let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Return book</h4>
      </div>

      <div>
        <div class="row">
        	<div class="col text-center">
        		Return the book?
        	</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="ReturnBook()" >Yes</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">No</button>
    </div>
</ng-template>