.FooterContainer {
    background-color: #006a98;
    margin-left: 270px;
    height: 30px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    padding: 6px 13px;
    font-size: 12px;
    padding-right: 280px;
}