<label for="fileInput" class="custom-file-upload">
    <img src="assets/icons/upload_photo.svg"> Upload Photo
</label>
<input type="file" [ngClass]="inputClass" #fileInput id="fileInput"
class="form-control short-input" [name]="cell.getId()" (change)="updateValue($event)"
[disabled]="!cell.isEditable()" [placeholder]="cell.getTitle()" />