<div class="PageName">
    SETTINGS
</div>

<div class="SettingsMenu">
	<div *ngFor="let SettingsButton of SettingsButtons">
		<button (click)="SetActiveButton(SettingsButton.id)" class="btn btn-info" placement="right" ngbTooltip="{{ SettingsButton.tooltip }}">
			<i class="fa {{ SettingsButton.icon }}"></i>
		</button>
	</div>
</div>

<div class="ContentContainer">
	<div class="row justify-content-end">
		<div class="col-lg-11">
			<app-settings-departments *ngIf="ActiveSettings == 1"></app-settings-departments>
			<app-settings-authors *ngIf="ActiveSettings == 2"></app-settings-authors>
		</div>
	</div>
</div>