<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterDepartments">

<button class="btn btn-primary btn-floating" (click)="OpenModal(departmentadd)"><i class="fa fa-plus"></i></button>

<table class="table table-light mt-3">
  <thead>
    <tr>
      <th scope="col">Department ID</th>
      <th scope="col">Department Name</th>
      <th scope="col">Status</th> 
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Department of Departments | filter:filterDepartments">
      <th scope="row">{{Department.dept_id}}</th>
      <td>{{Department.dept_desc}}</td>
      <td>
      	<span *ngIf="Department.status == 0">Active</span>
      	<span *ngIf="Department.status == 1">Inactive</span>
      </td>
      <td class="ActionData">
      	<button class="btn btn-sm btn-info" (click)="OpenModal(departmentedit, Department)"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
  </tbody>
</table>


<!--Template for Adding Department Modal-->
<ng-template #departmentadd let-c="close" let-d="dismiss">
	<form #DepartmentAddForm="ngForm" (ngSubmit)="AddDepartment(DepartmentAddForm)">

  		<div class="modal-body">
    		<div class="ModalHeaderContainer pb-3">
      		<h4 class="modalheader text-center">Add Department</h4>
    	</div>

    	<div>
	    	<div class="row">
	    		<div class="col-lg-6">
	    			<div class="form-group">
	    				<label>Department Name</label>
	    				<input type="text" class="form-control" name="dept_desc" placeholder="Department Name" [(ngModel)]="dept_desc">
	    			</div>
	    		</div>
	    		<div class="col-lg-6">
	    			<div class="form-group">
	    				<label>Status</label>
	    				<select class="form-control" name="status" [(ngModel)]="status">
					      <option value="0">Active</option>
					      <option value="1">Inactive</option>
					    </select>
	    			</div>
	    		</div>
	    	</div>
    	</div>
  	</div>
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-info">Save</button>
	    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
	  </div>
	</form>
</ng-template>

<!--Template for Editing Department Modal-->
<ng-template #departmentedit let-c="close" let-d="dismiss">
	<form #DepartmentEditForm="ngForm" (ngSubmit)="UpdateDepartment(DepartmentEditForm)">

  		<div class="modal-body">
    		<div class="ModalHeaderContainer pb-3">
      		<h4 class="modalheader text-center">Edit Department</h4>
    	</div>

    	<div>
	    	<div class="row">
	    		<div class="col-lg-6">
	    			<div class="form-group">
	    				<label>Department Name</label>
	    				<input type="text" class="form-control" name="dept_desc" placeholder="Department Name" [ngModel]="DepartmentInfo.dept_desc">
	    			</div>
	    		</div>
	    		<div class="col-lg-6">
	    			<div class="form-group">
	    				<label>Status</label>
	    				<select class="form-control" name="status" [ngModel]="DepartmentInfo.status">
					      <option value="0">Active</option>
					      <option value="1">Inactive</option>
					    </select>
	    			</div>
	    		</div>
	    	</div>
        
    	</div>
  	</div>
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-info">Save</button>
	    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
	  </div>
	</form>
</ng-template>
