<div class="PageName">
    MEMBERS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12">
		<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterMembers">

		<button class="btn btn-primary btn-floating" (click)="OpenModal(memberadd)"><i class="fa fa-plus"></i></button>

		<table class="table table-light mt-3">
		  <thead>
		    <tr>
		      <th scope="col">Member #</th>
		      <th scope="col">Full Name</th>
		      <th scope="col">Gender</th> 
		      <th scope="col">Department</th>
		      <th scope="col">Contact Number</th>
		      <th scope="col">Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let Member of Members | filter:filterMembers">
		      <th scope="row">{{Member.member_id}}</th>
		      <td>{{Member.first_name}}  {{Member.last_name}}</td>
		      <td>{{Member.gender}}</td>
		      <td>{{Member.dept_id}}</td>
		      <td>{{ Member.contact_no }}</td>
		      <td class="ActionData">
		      	<button class="btn btn-sm btn-info" (click)="OpenModal(memberinfoshow, Member)"><i class="fa fa-info"></i></button>
		      	<button class="btn btn-sm btn-warning" (click)="OpenAccountModal(membersettingsshow, Member.user_id)"><i class="fa fa-cog"></i></button>
		      	<!-- <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button> -->
		      </td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>

<!--Show Info Modal-->
<ng-template #memberinfoshow let-c="close" let-d="dismiss">
	<form #MemberShowForm="ngForm" (ngSubmit)="UpdateMember(MemberShowForm)">
  		<button type="button" class="close closeModal" aria-label="Close" (click)="d('Cross click')">
    		<span aria-hidden="true">&times;</span>
  		</button>

  		<div class="modal-body">
    		<div class="ModalHeaderContainer pb-3">
      		<h4 class="modalheader text-center">Member Information</h4>
    	</div>

    	<div>
	    	<div class="row">
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>First Name</label>
	    				<input type="text" class="form-control" name="first_name" placeholder="First Name" [ngModel]="MemberInfo.first_name">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Middle Name</label>
	    				<input type="text" class="form-control" name="middle_name" placeholder="Middle Name" [ngModel]="MemberInfo.middle_name">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Last Name</label>
	    				<input type="text" class="form-control" name="last_name" placeholder="Last Name" [ngModel]="MemberInfo.last_name">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Gender</label>
	    				<select class="form-control" name="gender" [ngModel]="MemberInfo.gender">
					      <option value="Female">Female</option>
					      <option value="Male">Male</option>
					    </select>
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Department</label>
	    				<select class="form-control" name="dept_id" [(ngModel)]="MemberInfo.dept_id">
					      <option *ngFor="let Department of Departments" value="{{Department.dept_id}}">{{ Department.dept_desc }}</option>
					    </select>
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Contact Number</label>
	    				<input type="text" class="form-control" name="contact_no" placeholder="Contact Number" [ngModel]="MemberInfo.contact_no">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Member ID</label>
	    				<input type="text" [disabled]="true" class="form-control" name="member_id" placeholder="Member ID" [ngModel]="MemberInfo.member_id">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Unit Office</label>
	    				<input type="text" class="form-control" name="unit_office" placeholder="Unit Office" [ngModel]="MemberInfo.unit_office">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Email Address</label>
	    				<input type="text" class="form-control" name="email_address" placeholder="Date Reqistered" [ngModel]="MemberInfo.email_address">
	    			</div>
	    		</div>
	    	</div>
        
    	</div>
  	</div>
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-info">Save</button>
	    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
	  </div>
	</form>
</ng-template>

<!--Template for Adding New Member-->

<ng-template #memberadd let-c="close" let-d="dismiss">
	<form #MemberAddForm="ngForm" (ngSubmit)="AddMember(MemberAddForm)">

  		<div class="modal-body">
    		<div class="ModalHeaderContainer pb-3">
      		<h4 class="modalheader text-center">Add Member</h4>
    	</div>

    	<div>
	    	<div class="row">
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>ID Number</label>
	    				<input type="text" class="form-control" name="id_number" placeholder="ID Number" [(ngModel)]="id_number">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Usertype</label>
	    				<select class="form-control" name="usertype_id" [(ngModel)]="usertype_id">
					    <option *ngFor="let UserType of UserTypes" value="{{ UserType.usertype_id }}">{{UserType.usertype_desc}}</option>
					    </select>
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Status</label>
	    				<select class="form-control" name="status" [(ngModel)]="status">
					      <option value="0" selected="">Active</option>
					      <option value="1">Inactive</option>
					    </select>
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>First Name</label>
	    				<input type="text" class="form-control" name="first_name" placeholder="First Name" [ngModel]="first_name">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Middle Name</label>
	    				<input type="text" class="form-control" name="middle_name" placeholder="Middle Name" [ngModel]="middle_name">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Last Name</label>
	    				<input type="text" class="form-control" name="last_name" placeholder="Last Name" [ngModel]="last_name">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Gender</label>
	    				<select class="form-control" name="gender" [ngModel]="gender">
					      <option value="Female">Female</option>
					      <option value="Male">Male</option>
					    </select>
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Department</label>
	    				<select class="form-control" name="dept_id" [ngModel]="dept_id">
					      <option *ngFor="let Department of Departments" value="{{Department.dept_id}}">{{ Department.dept_desc }}</option>
					    </select>
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Contact Number</label>
	    				<input type="text" class="form-control" name="contact_no" placeholder="Contact Number" [ngModel]="contact_no">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Unit Office</label>
	    				<input type="text" class="form-control" name="unit_office" placeholder="Unit Office" [ngModel]="unit_office">
	    			</div>
	    		</div>
	    		<div class="col-lg-4">
	    			<div class="form-group">
	    				<label>Email Address</label>
	    				<input type="email" class="form-control" name="email_address" placeholder="Email Address" [ngModel]="email_address">
	    			</div>
	    		</div>
	    	</div>
        
    	</div>
  	</div>
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-info">Save</button>
	    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
	  </div>
	</form>
</ng-template>

<!--Show Info Modal-->
<ng-template #membersettingsshow let-c="close" let-d="dismiss">
	<form #MemberSettingsForm="ngForm" (ngSubmit)="UpdateAccountSettings(MemberSettingsForm)">
  		<button type="button" class="close closeModal" aria-label="Close" (click)="d('Cross click')">
    		<span aria-hidden="true">&times;</span>
  		</button>

  		<div class="modal-body">
    		<div class="ModalHeaderContainer pb-3">
      		<h4 class="modalheader text-center">Member Information</h4>
    	</div>

    	<div class="row">
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>Account Status</label>
					<select class="form-control" name="status" [ngModel]="AccountInfo.status">
					    <option value="0">Active</option>
					    <option value="1">Inactive</option>
					 </select>
				</div>
	    	</div>
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>User Type</label>
					<select class="form-control" name="usertype_id" [ngModel]="AccountInfo.usertype_id">
					    <option *ngFor="let UserType of UserTypes" value="{{ UserType.usertype_id }}">{{UserType.usertype_desc}}</option>
					</select>
				</div>
	    	</div>
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" placeholder="Password" [ngModel]="AccountInfo.password">
				</div>
	    	</div>	
        
    	</div>
  	</div>
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-info">Save</button>
	    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
	  </div>
	</form>
</ng-template>

