
<h2>{{ MemberInfo.first_name }} {{ MemberInfo.last_name }}</h2>
<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-6">
			
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">Department: {{ MemberInfo.department_name }}</li>
			  <li class="list-group-item">Contact Number: {{ MemberInfo.contact_no }}</li>
			  <li class="list-group-item">Email Address: {{ MemberInfo.email_address }}</li>
			  <li class="list-group-item">Unit Office: {{ MemberInfo.unit_office }}</li>
			  <li class="list-group-item">Gender: {{ MemberInfo.gender }}</li>
			</ul>
		</div>
		<div class="col-lg-3">
			<div class="card shadow-sm">
			  <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Borrowed Books</h6><h5>3</h5>
			    </div>
			  </div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="card shadow-sm">
			  <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Reserved Books</h6><h5>3</h5>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>