<div class="PageName">
    BOOKS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/books/reserved')" class="btn btn-info">Reserved Books</button>
			<button (click)="GoToPage('home/books/borrowed')" class="btn btn-info">Borrowed Books</button>
		</div>
	</div>
	<div class="row pt-3">
		<div class="col-lg-12">

			<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterBooks">
			<button class="btn btn-primary btn-floating"><i class="fa fa-plus"></i></button>

			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Book #</th>
			      <th scope="col">Accession #</th>
			      <th scope="col">Call #</th>
			      <th scope="col">Title</th>
			      <th scope="col">Publisher</th>
			      <th scope="col">Status</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let Book of Books | filter:filterBooks">
			      <th scope="row">{{ Book.book_id }}</th>
			      <td>{{ Book.accession_no }}</td>
			      <td>{{ Book.call_no }}</td>
			      <td>{{ Book.title }}</td>
			      <td>{{ Book.publisher }}</td>
			      <td [ngClass]="{
			      'text-success':Book.status === 'Available',
			      'text-danger':Book.status === 'Lost',
			      'text-info':Book.status === 'Borrowed',
			      'text-warning':Book.status === 'Reserved'
			  		}">
			      {{ Book.status }}</td>
			      <td class="ActionButton">
			      	<button class="btn btn-sm btn-info" (click)="OpenModal(booksedit, Book)"><i class="fa fa-info"></i></button>
			      	<button class="btn btn-sm btn-warning" (click)="OpenModal(booksreserve, Book)" >Reserve</button>
			      	<button [disabled]="Book.status == 'Reserved' || Book.status == 'Borrowed'" class="btn btn-sm btn-info" (click)="OpenModal(booksborrow, Book)">Borrow</button>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<!--Template for Editing Author Modal-->
<ng-template #booksedit let-c="close" let-d="dismiss">
  <form #BookEditForm="ngForm" (ngSubmit)="UpdateBook(BookEditForm)">

      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Edit Book Information</h4>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Book ID</label>
              <input type="text" [disabled]="true" class="form-control" name="book_id" placeholder="Book ID" [ngModel]="BookInfo.book_id">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Accession Number</label>
              <input type="text" class="form-control" name="accession_no" placeholder="Accession Number" [ngModel]="BookInfo.accession_no">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Call Number</label>
              <input type="text" class="form-control" name="call_no" placeholder="Call Number" [ngModel]="BookInfo.call_no">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" name="title" placeholder="Title" [ngModel]="BookInfo.title">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Volume</label>
              <input type="text" class="form-control" name="volume" placeholder="Volume" [ngModel]="BookInfo.volume">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Pages</label>
              <input type="text" class="form-control" name="pages" placeholder="Volume" [ngModel]="BookInfo.pages">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Publisher</label>
              <input type="text" class="form-control" name="publisher" placeholder="Volume" [ngModel]="BookInfo.publisher">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Copyright</label>
              <input type="text" class="form-control" name="publisher" placeholder="Copyright" [ngModel]="BookInfo.copyright">
            </div>
          </div>
        </div>
        <hr>
        <h4>Authors</h4>
        <div class="row">
	        <div class="col-lg-6" *ngFor="let Author of BookInfo.author_details[0]">
	            {{ Author.author_name }}
	         </div>
     	</div>
     	<div class="row pt-3">
     		<div class="col-lg-5">
     			<div class="form-group">
     				<select class="form-control" name="author_id">
     					<option *ngFor="let Author of Authors" value="{{ Author.author_id }}">{{ Author.author_name }}</option>
     					<option value="Other">Other</option>
     				</select>
     			</div>
     		</div>
     		<div class="col-lg-5">
     			<div class="form-group">
     				<input class="form-control" placeholder="Enter Name" >
     			</div>
     		</div>
     		<div class="col-lg-2">
     			<div class="form-group">
     				<button class="btn btn-info">Add <i class="fa fa-plus"></i></button>
     			</div>
     		</div>
     	</div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>

<!--Template for Borrowing a book-->
<ng-template #booksborrow let-c="close" let-d="dismiss">
  <form #BookBorrowForm="ngForm" (ngSubmit)="BorrowBook(BookBorrowForm, date_to_return.value)">

      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Borrow a book</h4>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Book ID</label>
              <input type="text" [disabled]="true" class="form-control" name="book_id" placeholder="Book ID" [ngModel]="BookInfo.book_id">
            </div>
          </div> 
          <div class="col-lg-6">
          	<label>ID Number</label>
          	<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [config]="config" [options]="Members" ></ngx-select-dropdown>
          	{{ FullName }}
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Date to return</label>
              <input type="date" class="form-control" #date_to_return name="date_to_return" min="{{DateNow}}">	
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>

<!--Template for Reserving a book-->
<ng-template #booksreserve let-c="close" let-d="dismiss">
  <form #BookReserveForm="ngForm" (ngSubmit)="ReserveBook(BookReserveForm, date_requested.value)">

      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Reserve a book</h4>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Book ID</label>
              <input type="text" [disabled]="true" class="form-control" name="r_book_id" placeholder="Book ID" [ngModel]="BookInfo.book_id">
            </div>
          </div> 
          <div class="col-lg-6">
          	<label>ID Number</label>
          	<ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [config]="config" [options]="Members" ></ngx-select-dropdown>
          	{{ FullName }}
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Date Requested</label>
              <input type="date" class="form-control" #date_requested name="date_requested" min="{{DateNow}}">	
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>
