<section class="login-block">
    <div class="container">
		<div class="row">

			<div class="col-md-4 login-sec">
		    	<h2 class="text-center">Login Now</h2>

		    	<form #loginForm="ngForm" (ngSubmit)="Login(loginForm)" class="login-form">
  					<div class="form-group">
					    <label for="UserID" class="text-uppercase">User ID</label>
					    <input type="text" class="form-control" placeholder="User ID" name="UserID" id="UserID" ngModel>
    
  					</div>
	  				<div class="form-group">
					    <label for="Password" class="text-uppercase">Password</label>
					    <input type="password" class="form-control" placeholder="Password" name="Password" id="Password" ngModel>
					 </div>

           <div class="text-danger">
             {{Message}}
           </div>

           <button type="submit" class="btn btn-login mt-3 float-right">Submit</button>
	  
	  <!-- 
	    			<div class="form-check">
	    				<label class="form-check-label">
	      				<input type="checkbox" class="form-check-input">
	      				<small>Remember Me</small>
	    				</label>
	    				<button type="submit" class="btn btn-login float-right">Submit</button>
	  				</div> -->
  
				</form>

				<div class="copy-text">
					Created with <i class="fa fa-heart"></i> by <a href="#">Marcial Asperos</a>
				</div>
			</div>


			<div class="col-md-8 banner-sec">
            	<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            		<div class="carousel-inner" role="listbox">

    					<div class="carousel-item active">
      						<img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      						<div class="carousel-caption d-none d-md-block">
        						<div class="banner-text">
            						<h2>Library System</h2>
            						<p>This is the Official Library System for Apayao State University</p>
        						</div>	
  							</div>
    					</div>

    					<div class="carousel-item">
      						<img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
      						<div class="carousel-caption d-none d-md-block">
        						<div class="banner-text">
            						<h2>This is Heaven</h2>
            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        						</div>	
    						</div>
    					</div>

    					<div class="carousel-item">
      						<img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
      						<div class="carousel-caption d-none d-md-block">
        						<div class="banner-text">
            						<h2>This is Heaven</h2>
            						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        						</div>	
    						</div>
  						</div>
            		</div>	 
				</div> -->
			</div>
		</div>
	</div>
</section>