.HeaderContainer {
    background-color: #ffffff;
    height: 60px;
    margin-left: 270px;
    color: #0b5345;
    padding-left: 13px;
}

.HeaderLogo {
    height: 50px;
    padding-top: 10px;
}

.HeaderCaption {
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 17px;
}

.btn-logout {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}