<div class="HeaderContainer shadow-sm">
  <img class="HeaderLogo" src="assets/imgs/logo.png">
  <span class="HeaderCaption">Apayao State College Library System</span>
  <button class="btn btn-danger btn-logout" (click)="Logout()"><i class="fa fa-power-off"></i></button>
</div>
