.ContentContainer {
    padding-top: 20px;
}

.SmartTableContainer {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

:host /deep/ ng2-smart-table thead > tr.ng2-smart-titles  { 
    border: none;
    background-color:#0b5345;
    color: white!important;
} 

:host /deep/ ng2-smart-table-title > a  { 
    color: white!important;
}

