<div class="PageName">
    WORKLIST
</div>

<div class="ContentContainer">
    <form [formGroup]="worklistForm" (ngSubmit)="SubmitWorkList(worklistForm.value, content )">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="SiteOrBuilding">Site / Building</label>
                    <ngx-select [items]="siteOptions"
                    formControlName="siteModel"
                    placeholder="No site selected"
                    
                    ></ngx-select>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="Room">Room</label> 
                    <ngx-select [items]="roomOptions"
                    formControlName="roomModel"
                    placeholder="No room selected"
                    ></ngx-select>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="Category">Category</label>
                    <ngx-select [items]="categoryOptions"
                    formControlName="categoryModel"
                    placeholder="No category selected"
                    ></ngx-select>
                </div>
            </div>
        </div>

        <div class="SmartTableContainer shadow-sm">
            <ng2-smart-table class="table" [source]="WorkListData" [settings]="WorklistSettings"></ng2-smart-table>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="bg-light shadow-sm p-3">
                    <strong class="text-danger">Reminder (if the item is tagged as defective)</strong><br><br>
                    1. Take Photo of the defective equipment's barcode<br>
                    2. Pop up of function to issue a Job Order/Corrective Action on the broken item
                </div>
            </div>
            <div class="col-lg-7">
                <button type="submit" class="btn btn-pms text-light float-right" [disabled]="!worklistForm.valid">Submit</button>
            </div>
        </div>

        
        <ng-template #content let-modal>
            <div class="SuccessModalHeader text-center">
                <img src="assets/icons/checked.svg">
            </div>
            <div class="modal-body p-3 text-center">
                <div class="ModalHeaderTitle">Great!</div>
                <p>Work list successfully submitted!</p>
                <button class="btn btn-outline-success" (click)="modal.close('Close click')">OK</button>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div> -->
        </ng-template>
        


    </form>
</div>



