<div class="PageName">
    OPAC (Online Public Access Catalog)
</div>


<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12">
			<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterBooks">
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Book #</th>
			      <th scope="col">Accession #</th>
			      <th scope="col">Call #</th>
			      <th scope="col">Title</th>
			      <th scope="col">Volume</th>
			      <th scope="col">Pages</th>
			      <th scope="col">Publisher</th>
			      <th scope="col">Copyright</th>
			      <th scope="col">Author 1</th>
			      <th scope="col">Status</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let Book of Books | filter:filterBooks">
			      <th scope="row">{{ Book.book_id }}</th>
			      <td>{{ Book.accession_no }}</td>
			      <td>{{ Book.call_no }}</td>
			      <td>{{ Book.title }}</td>
			      <td>{{ Book.volume }}</td>
			      <td>{{ Book.pages }}</td>
			      <td>{{ Book.publisher }}</td>
			      <td>{{ Book.copyright }}</td>
			      <td>{{ Book.author_details[0][0].author_name }}</td>
			      <td [ngClass]="{
			      'text-success':Book.status === 'Available',
			      'text-danger':Book.status === 'Lost',
			      'text-info':Book.status === 'Borrowed',
			      'text-warning':Book.status === 'Reserved'
			  		}">
			      {{ Book.status }}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>