<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterAuthors">

<button class="btn btn-primary btn-floating" (click)="OpenModal(authoradd)"><i class="fa fa-plus"></i></button>

<table class="table table-light mt-3">
  <thead>
    <tr>
      <th scope="col">Author ID</th>
      <th scope="col">Author Name</th> 
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Author of Authors | filter:filterAuthors">
      <th scope="row">{{Author.author_id}}</th>
      <td>{{Author.author_name}}</td>
      <td class="ActionData">
      	<button class="btn btn-sm btn-info" (click)="OpenModal(authoredit, Author)"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<!--Template for Adding Author Modal-->
<ng-template #authoradd let-c="close" let-d="dismiss">
  <form #AuthorAddForm="ngForm" (ngSubmit)="AddAuthor(AuthorAddForm)">

      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Add Author</h4>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Author Name</label>
              <input type="text" class="form-control" name="author_name" placeholder="Author Name" [(ngModel)]="author_name">
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>

<!--Template for Editing Author Modal-->
<ng-template #authoredit let-c="close" let-d="dismiss">
  <form #AuthorEditForm="ngForm" (ngSubmit)="UpdateAuthor(AuthorEditForm)">

      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Edit Author</h4>
      </div>

      <div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Author Name</label>
              <input type="text" class="form-control" name="author_name" placeholder="Author Name" [ngModel]="AuthorInfo.author_name">
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>