<div class="PageName">
    REPORTS / TOP BORROWERS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/reports')"  class="btn btn-info">Borrowed Books</button>
			<button (click)="GoToPage('home/reports/bookslost')" class="btn btn-info">Lost Books</button>
			<button (click)="GoToPage('home/reports/userscheckedout')" class="btn btn-info">Users with Checked-out Items</button>
			<button (click)="GoToPage('home/reports/usersoverdue')" class="btn btn-info">Users with Overdue items</button>
			<button (click)="GoToPage('home/reports/booksnotreturned')" class="btn btn-info">Books not yet returned</button>
			<button (click)="GoToPage('home/reports/topusers')" class="btn btn-info">Top Users</button>
			<button (click)="GoToPage('home/reports/withfine')" class="btn btn-info">Users with Fine</button>
			<button (click)="GoToPage('home/reports/allusers')" class="btn btn-info">All Users</button>
		</div>
	</div>

	<div class="row pt-3">
		<div class="col-lg-12">
			<button (click)="exportAsXLSX()" class="btn btn-primary btn-floating"><i class="fa fa-file-excel-o"></i></button>
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Top</th>
			      <th scope="col">Full Name</th>
			      <th scope="col">ID Number</th>
			      <th scope="col">Books Borrowed</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr *ngFor="let TopBorrower of TopBorrowers">
			      <th scope="row">{{ TopBorrower.top }}</th>
			      <td>{{ TopBorrower.full_name }}</td>
			      <td>{{ TopBorrower.id_number }}</td>
			      <td>{{ TopBorrower.total_books_borrowed }}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>