<div class="PageName">
    RESERVED BOOKS TRANSACTIONS
</div>

<div class="ContentContainer">
  <div class="row">
  	<div class="col-lg-12">
  		<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterReservedBookTransactions">
  		<table class="table table-light mt-3">
		  <thead>
		    <tr>
		      <th scope="col">Reservation ID</th>
		      <th scope="col">Book ID</th>
		      <th scope="col">ID Number</th>
		      <th scope="col">Date of Reservation</th>
		      <th scope="col">Date Requested</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let ReservedTransaction of ReservedTransactions | filter:filterReservedBookTransactions">
		      <th scope="row">{{ ReservedTransaction.books_reserved_id }}</th>
		      <td>{{ ReservedTransaction.book_id }}</td>
		      <td>{{ ReservedTransaction.id_number }}</td>
		      <td>{{ ReservedTransaction.date_of_reservation | date: 'mediumDate'  }}</td>
		      <td>{{ ReservedTransaction.date_requested | date: 'mediumDate'}}</td>
		      <td>{{ ReservedTransaction.status }}</td>
		    </tr>
		  </tbody>
		</table>
  	</div>
  </div>
</div>