<div class="PageName">
    BORROWED BOOKS TRANSACTIONS
</div>

<div class="ContentContainer">
  <div class="row">
  	<div class="col-lg-12">
  		<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterBorrowedBookTransactions">
  		<table class="table table-light mt-3">
		  <thead>
		    <tr>
		      <th scope="col">Borrowed ID</th>
		      <th scope="col">Book ID</th>
		      <th scope="col">ID Number</th>
		      <th scope="col">Date Borrowed</th>
		      <th scope="col">Date to Return</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let BorrowedTransaction of BorrowedTransactions | filter:filterBorrowedBookTransactions">
		      <th scope="row">{{ BorrowedTransaction.books_borrowed_id }}</th>
		      <td>{{ BorrowedTransaction.book_id }}</td>
		      <td>{{ BorrowedTransaction.id_number }}</td>
		      <td>{{ BorrowedTransaction.date_borrowed | date: 'mediumDate' }}</td>
		      <td>{{ BorrowedTransaction.date_to_return | date: 'mediumDate' }}</td>
		      <td>{{ BorrowedTransaction.status }}</td>
		    </tr>
		   </tbody>
		</table>
  	</div>
  </div>
</div>