<div class="PageName">
    REPORTS / BORROWED BOOK
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/reports')"  class="btn btn-info">Borrowed Books</button>
			<button (click)="GoToPage('home/reports/bookslost')" class="btn btn-info">Lost Books</button>
			<button (click)="GoToPage('home/reports/userscheckedout')" class="btn btn-info">Users with Checked-out Items</button>
			<button (click)="GoToPage('home/reports/usersoverdue')" class="btn btn-info">Users with Overdue items</button>
			<button (click)="GoToPage('home/reports/booksnotreturned')" class="btn btn-info">Books not yet returned</button>
			<button (click)="GoToPage('home/reports/topusers')" class="btn btn-info">Top Users</button>
			<button (click)="GoToPage('home/reports/withfine')" class="btn btn-info">Users with Fine</button>
			<button (click)="GoToPage('home/reports/allusers')" class="btn btn-info">All Users</button>
		</div>
	</div>

	<div class="row pt-1">
		<div class="col-lg-12">
			<button (click)="exportAsXLSX()" class="btn btn-primary btn-floating"><i class="fa fa-file-excel-o"></i></button>
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Borrowed ID</th>
			      <th scope="col">Book ID</th>
			      <th scope="col">ID Number</th>
			      <th scope="col">Date Borrowed</th>
			      <th scope="col">Date to Return</th>
			      <th scope="col">Status</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let BorrowedBook of BorrowedBooks | filter:filterBorrowedBooks">
			      <th scope="row">{{ BorrowedBook.books_borrowed_id }}</th>
			      <td>{{ BorrowedBook.book_id }}</td>
			      <td>{{ BorrowedBook.id_number }}</td>
			      <td>{{ BorrowedBook.date_borrowed | date: 'mediumDate' }}</td>
			      <td>{{ BorrowedBook.date_to_return | date: 'mediumDate' }}</td>
			      <td>
			      <span *ngIf="(BorrowedBook.date_to_return | date: 'yyyy-MM-dd') > (DateNow | date: 'yyyy-MM-dd')">{{ BorrowedBook.status }}</span>
			      <span *ngIf="(BorrowedBook.date_to_return | date: 'yyyy-MM-dd') < (DateNow | date: 'yyyy-MM-dd')" class="text-danger">Overdue</span>
			  	  </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

