<div class="PageName">
    RESERVED BOOKS
</div>

<div class="ContentContainer">
  <div class="row">
    <div class="col-lg-12 BooksButtons">
      <button (click)="GoToPage('home/books/reserved/transactions')" class="btn btn-info">Transactions</button>
    </div>
  </div>
	<div class="row pt-3">
		<div class="col-lg-12">
			<input type="text" class="form-control" placeholder="Search by Keyword..." [(ngModel)]="filterReservedBooks">
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Reservation ID</th>
			      <th scope="col">Book ID</th>
			      <th scope="col">ID Number</th>
			      <th scope="col">Date of Reservation</th>
			      <th scope="col">Date Requested</th>
			      <th scope="col">Status</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let ReservedBook of ReservedBooks | filter:filterReservedBooks">
			      <th scope="row">{{ ReservedBook.books_reserved_id }}</th>
			      <td>{{ ReservedBook.book_id }}</td>
			      <td>{{ ReservedBook.id_number }}</td>
			      <td>{{ ReservedBook.date_of_reservation | date: 'mediumDate'  }}</td>
			      <td>{{ ReservedBook.date_requested | date: 'mediumDate'}}</td>
			      <td>{{ ReservedBook.status }}</td>
			      <td class="ActionButton">
			      	<button class="btn btn-sm btn-info" (click)="OpenModal(reserveconfirmation, ReservedBook.books_reserved_id)">Checkout</button>

			      	<button class="btn btn-sm btn-danger" (click)="OpenModal(cancelconfirmation, ReservedBook.books_reserved_id)">Cancel</button>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<!--Template for Reserving a book-->
<ng-template #reserveconfirmation let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Return Date</h4>
      </div>

      <div>
        <div class="row">
        	<div class="col">
        		<div class="form-group">
        			<input type="date" class="form-control" #date_to_return min="{{DateNow}}">
        		</div>
        	</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="CheckoutBook(date_to_return.value)" >Save</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<!--Template for Reserving a book-->
<ng-template #cancelconfirmation let-c="close" let-d="dismiss">
      <div class="modal-body">
        <div class="ModalHeaderContainer pb-3">
          <h4 class="modalheader text-center">Cancel Reservation</h4>
      </div>

      <div>
        <div class="row">
        	<div class="col text-center">
        		Are you sure you want to cancel reservation?
        	</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="CancelReservation()" >Yes</button>
      <button type="button" class="btn btn-light" (click)="c('Close click')">No</button>
    </div>
</ng-template>