/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~hover.css/css/hover.css";
@import "~ngx-select-dropdown/dist/assets/style.css";

body, html {
    background-color: #f1f1f1;
    font-size: 14px;
}

.PageName {
    font-weight: bold;
    color: #006a98;
    font-size: 20px;
}

.btn-pms {
    background-color: #006a98!important;
}

button:active {
    outline: none!important;
}
    
button:focus {
    outline:0!important;
}


table {
    font-size: 12px!important;
}

thead {
    background-color: #006a98!important;
    color: white;
}

.btn-sm {
    padding: 0px 5px!important;
}

.btn-sm i {
    font-size: 11px!important;
}

.ActionData button {
    margin: 0px 3px!important;
    width: 20px;
}

.ActionButton button {
    margin: 0px 3px!important;
    /*width: 20px;*/
}

.btn-floating {
    position: absolute;
    right: 20px;
    top: 40px;
}

.closeModal {
    text-align: right;
    padding-right: 10px;
}
