<div class="PageName">
    REPORTS / LOST BOOKS
</div>

<div class="ContentContainer">
	<div class="row">
		<div class="col-lg-12 BooksButtons">
			<button (click)="GoToPage('home/reports')"  class="btn btn-info">Borrowed Books</button>
			<button (click)="GoToPage('home/reports/bookslost')" class="btn btn-info">Lost Books</button>
			<button (click)="GoToPage('home/reports/userscheckedout')" class="btn btn-info">Users with Checked-out Items</button>
			<button (click)="GoToPage('home/reports/usersoverdue')" class="btn btn-info">Users with Overdue items</button>
			<button (click)="GoToPage('home/reports/booksnotreturned')" class="btn btn-info">Books not yet returned</button>
			<button (click)="GoToPage('home/reports/topusers')" class="btn btn-info">Top Users</button>
			<button (click)="GoToPage('home/reports/withfine')" class="btn btn-info">Users with Fine</button>
			<button (click)="GoToPage('home/reports/allusers')" class="btn btn-info">All Users</button>
		</div>
	</div>

	<div class="row pt-3">
		<div class="col-lg-12">
			<button (click)="exportAsXLSX()" class="btn btn-primary btn-floating"><i class="fa fa-file-excel-o"></i></button>
			<table class="table table-light mt-3">
			  <thead>
			    <tr>
			      <th scope="col">Book #</th>
			      <th scope="col">Accession #</th>
			      <th scope="col">Call #</th>
			      <th scope="col">Title</th>
			      <th scope="col">Volume</th>
			      <th scope="col">Pages</th>
			      <th scope="col">Publisher</th>
			      <th scope="col">Copyright</th>
			      <th scope="col">Status</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let LostBook of LostBooks | filter:filterLostBooks">
			      <th scope="row">{{ LostBook.book_id }}</th>
			      <td>{{ LostBook.accession_no }}</td>
			      <td>{{ LostBook.call_no }}</td>
			      <td>{{ LostBook.title }}</td>
			      <td>{{ LostBook.volume }}</td>
			      <td>{{ LostBook.pages }}</td>
			      <td>{{ LostBook.publisher }}</td>
			      <td>{{ LostBook.copyright }}</td>
			      <td>{{ LostBook.status }}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>