<div class="PageName">
    DASHBOARD
</div>

<div class="ContentContainer">
	<div class="row pt-3">
		<div class="col">
			<div class="card shadow-sm">
			  <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Active Members:</h6><h5>{{ ActiveMembers }}</h5>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card shadow-sm">
			 <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Total # of Borrowed Books:</h6><h5>{{ BorrowedBooks }}</h5>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card shadow-sm">
			 <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Total # of Reserved Books:</h6><h5>{{  ReservedBooks}}</h5>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card shadow-sm">
			 <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Total # of Lost Books:</h6><h5>{{ LostBooks }}</h5>
			    </div>
			  </div>
			</div>
		</div>

	</div>

	<div class="row pt-3">
		<div class="col-lg-3">
			<div class="card shadow-sm">
			  <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Active Borrowed Books:</h6><h5>{{ ActiveBorrows }}</h5>
			    </div>
			  </div>
			</div>
		</div>
	
		<div class="col-lg-3">
			<div class="card shadow-sm">
			  <img class="card-img-top" src="assets/imgs/members.jpg">
			  <div class="card-body">
			    <div class="card-text">
			    	<h6>Active Reserved Books:</h6><h5>{{ ActiveReserved }}</h5>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col-lg-6 text-center">
			
		</div>
	</div>
</div>
