<div class="SideMenuContainer">

  <div class="ProfileImage text-center">
    <img src="assets/imgs/avatar.png">
    <div class="pb-5">
      <div class="ProfileName">{{FN}}</div>
      <div class="ProfilePosition">Administrator</div>
      <button (click)="GoToPage('home/profile')" class="mt-3 btn btn-secondary btn-sm btn-pms">Profile</button>
    </div>
  </div>

  <div class="divider"></div>
  <ul class="list-group list-group-flush">
    <button *ngFor="let page of Pages" routerLink="{{page.link}}" routerLinkActive="active"  type="button" class="list-group-item list-group-item-action hvr-sweep-to-right">
      {{page.page}}
    </button>
  </ul>

  
  
</div>