*:focus {
    outline:none !important;
}

.SideMenuContainer {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008ecc;
    overflow-x: hidden;
    padding: 70px 20px 20px 20px;
    color: white;   
}

.ProfileImage img {
    border-radius: 500px;
    height: 140px;
}

.ProfilePosition {
    font-size: 13px;
}

.divider {
    height: 2px;
    background-color: #006a98;
}

.list-group-item {
    background-color: transparent!important;
    color: white;
}

.list-group-item.active  {
    background-color: #006a98!important;
    border-color: transparent;
}

.hvr-sweep-to-right:before { 
    background-color: #006a98!important;
}

.active {
    background-color: #006a98!important;
    border-color: transparent;
}

.active-route {
    background: black;
    border-bottom: 2px solid red;      
}